<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charidi's Portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" types="text/css" href="../public/css/styles.css" />
    <style>
      .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: 0.75rem;
      }
    </style>
  </head>

  <body>
    <div class="container my-4">
      <h1 class="display-3" style="color: #c0a3ef;">Charidi Stevens</h1>
      <p class="lead">Computer Science @ Texas A&M University - San Antonio</p>
    </div>
    <nav>
      <div class="container">
      <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./index.html"
                >About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./education.html">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./experience.html">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./projects.html">Projects</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./contact.html">Contact</a>
                </li>

                <li><a class="dropdown-item" href="../public/doc/resume.pdf">Resume</a></li>
              </ul>
            </li>
          </ul>
         </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="row"><h5><strong>Web Devlopment Team Student Worker</strong></h5> 
        </div>
        <div class="row" ><p>@ Texas A&M University - San Antonio</p></div>
       </div>
        <div class="col text-end"><p>March 2022 - October 2022</p></div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>Used Cascade CMS, HTML & CSS to edit website content</li>
            <li>Assisted with updating and maintaining content on Texas A&M University - San
              Antonio’s website using Cascade CMS.</li>
            <li>Assisted in posting campus flyers to the digital displays around campus.</li>
            <li>Scaled and edited photos to meet website standards.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <hr/>
   </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row"><h5><strong>SITE Internship</strong></h5> 
        </div>
        <div class="row" ><p>@ Codepath, Workday</p></div>
      </div>
        <div class="col text-end">May 2022 - August 2022</div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>Built websites from scratch using HTML, CSS, and vanilla JavaScript.</li>
            <li>Managed application front-end views and state using React.</li>
            <li>Built backend servers and APIs using Express.js and Node.js.</li>
            <li>Created a database using PostgreSQL.</li>
            <li>Wrote and tested applications.</li>
            <li>Deployed websites using Heroku.</li>
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
